<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>主页</title>
<!-- Bootstrap核心CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- JQuery -->
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<!-- bootstrap的js -->
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- echarts的js -->
<script type="text/javascript" src="/js/echarts.js"></script>
</head>
<body>
	<!-- 顶部 -->
	<div th:include="template/index_template::web_header"></div>
	<!-- 操作栏 -->
	<div class="row">
		<div class="col-lg-1"></div>
		<!-- 左侧按钮区 -->
		<div class="col-lg-2">
			<div class="btn-group-vertical">
				<!-- 个人信息 -->
				<button type="button" class="form-control btn btn-primary"
					th:onclick="'information('+${session.user.id}+')'">个人信息</button>
				<script type="text/javascript">
					var information = function(id) {
						$("#display_div").load("/admin/information/" + id);
					}
				</script>
				<!-- 用户管理 -->
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-primary dropdown-toggle"
						data-toggle="dropdown">用户管理</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" onclick="patient()">病人管理</a> <a
							class="dropdown-item" onclick="worker()">工作人员管理</a>
					</div>
				</div>
				<script type="text/javascript">
					var patient = function() {
						$("#display_div").load("/admin/patient");
					}
					var worker = function() {
						$("#display_div").load("/admin/worker");
					}
				</script>
				<!-- 文章管理 -->
				<button type="button" class="form-control btn btn-primary"
					onclick="article_manage()">文章管理</button>
				<script type="text/javascript">
					var article_manage = function() {
						$("#display_div").load("/admin/article_manage");
					}
				</script>
				<!-- 检查科室管理 -->
				<button type="button" class="form-control btn btn-primary"
					onclick="check_department_manage()">检查科室管理</button>
				<script type="text/javascript">
					var check_department_manage = function() {
						$("#display_div")
								.load("/admin/check_department_manage");
					}
				</script>
				<!-- 检查项目管理 -->
				<button type="button" class="form-control btn btn-primary"
					onclick="check_project_manage()">检查项目管理</button>
				<script type="text/javascript">
					var check_project_manage = function() {
						$("#display_div").load("/admin/check_project_manage");
					}
				</script>
				<!-- 药品管理 -->
				<button type="button" class="form-control btn btn-primary"
					onclick="drug_manage()">药品管理</button>
				<script type="text/javascript">
					var drug_manage = function() {
						$("#display_div").load("/admin/drug_manage");
					}
				</script>
				<!-- 疾病管理 -->
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-primary dropdown-toggle"
						data-toggle="dropdown">疾病管理</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" onclick="disease_manage(1)">初级分类管理</a> <a
							class="dropdown-item" onclick="disease_manage(2)">二级分类管理</a> <a
							class="dropdown-item" onclick="disease_manage(3)">疾病管理</a>
					</div>
				</div>
				<script type="text/javascript">
					var disease_manage = function(id) {
						$("#display_div").load("/admin/disease_manage/" + id);
					}
				</script>
				<!-- <button type="button" class="form-control btn btn-primary">诊疗单管理</button>
				<button type="button" class="form-control btn btn-primary">处方记录</button> -->
			</div>
		</div>
		<!-- 右侧信息显示区 -->
		<div class="col-lg-8" id="display_div"></div>
		<div class="col-lg-1"></div>
	</div>
	<!-- 底部 -->
	<div th:include="template/index_template::web_footer"></div>
	<!-- 显示个人信息 -->
	<script type="text/javascript" th:inline="javascript">
		information([[${session.user.id}]]);
	</script>
</body>